<app-navbar></app-navbar>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: rgba(0, 0, 0, 0.767);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/woman.png" alt="Logo" style="width:50px;" class="rounded-pill">
      </a>
    </div>
   <a routerLink="/Home">home</a>&nbsp;&nbsp;&nbsp;
   <a routerLink="/Products">products</a>&nbsp;&nbsp;&nbsp;
   <a routerLink="/Users">users</a>&nbsp;&nbsp;&nbsp;
   <a routerLink="/Posts">posts</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

   <a type="button" style="color: burlywood;" routerLink="/registerForm">Register</a>&nbsp;&nbsp;
   <a type="button" style="color: burlywood;" routerLink="/loginForm">Login</a>
  </nav>
  
  <router-outlet></router-outlet>