<style>
    table, th, td {
      border:2px solid black;
    }
    </style>
<app-product></app-product>
<h1>{{storeName}} <img [src]="storeLogo" alt="" class="img-fluid" style="width: 35px;" /></h1>
<!-- day2 -->
<!-- Q1  1-->
<h3 *ngIf="discount != 'No discount'">We offer an explicit discount of: {{ discount }}</h3>
<!-- Q2 -->
{{ storeName | uppercase}}
<br>
 {{ discount | percent }}
 <br>
<!-- 2 -->
<select class="" id="" aria-placeholder="categories" >
<option *ngFor="let category of categoryList" [value]="category.name">select /
    {{category.name}}
</option>
</select>
<br><br>

<!-- 4 -->
<input type="text" [(ngModel)]="clientName"> 
{{clientName}}
<br><br>
<!-- 5 -->
<input type="button" value="Buy" (click)="hideTable()">
<h3 *ngIf="IsPurchased; then thenblock ;else elseblock"></h3>
<ng-template #thenblock>
<h3>{{message}}</h3>
</ng-template>

 <!-- 3 -->
 <ng-template #elseblock>
<table *ngFor="let item of productList">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>quantity</th>
      <th>price</th>
      <th>img</th>
    </tr>
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
      <td><img src="../../assets/avatar_hat.jpg" alt="" style="width: 100px;"/></td>
    </tr>
  </table>
</ng-template>
<br>
<!-- 5 -->
