<!-- template driven form -->
<!-- <div class="container-fluid">
  <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>User Name :</label>
      <input
        type="text"
        name="txtname"
        required
        pattern="^([A-Z][a-z]+)+$"
        [class.is-invalid]="name.touched && name.invalid"
        [(ngModel)]="registerModel.name"
        #name="ngModel"
        class="form-control"
      />
      <div *ngIf="name.errors && name.touched">
        <small class="text-danger" *ngIf="name.errors['required']"
          >user name is required</small
        >
        <small class="text-danger" *ngIf="name.errors['pattern']"
          >user name must contains only capital and small characters</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Email :</label>
      <input
        type="email"
        name="txtemail"
        required
        [class.is-invalid]="email.invalid && email.touched"
        pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$"
        [(ngModel)]="registerModel.email"
        #email="ngModel"
        class="form-control"
      />
      <div *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors['required']"
          >email is required</small
        >
        <small class="text-danger" *ngIf="email.errors['pattern']"
          >email must contains @ and .</small
        >
      </div>
    </div>
    <div class="form-group">
      <label>Password :</label>
      <input
        type="tel"
        name="password"
        required
        [class.is-invalid]="password.invalid && password.touched"
        [(ngModel)]="registerModel.password"
        #password="ngModel"
        class="form-control"
      />
      <small
        class="text-danger"
        [class.d-none]="password.untouched || password.valid"
        >password is required</small
      >
    </div>
    <div class="form-group">
      <label> Confirm Password :</label>
      <input
        type="tel"
        name="confirmation"
        required
        [class.is-invalid]="password.invalid && password.touched"
        [(ngModel)]="registerModel.confirmpassword"
        #confirmpassword="ngModel"
        class="form-control"
      />
      <small
        class="text-danger"
        [class.d-none]="password.untouched || password.valid"
        >password must be matched</small
      >
    </div>
    <div class="form-group">
      <select
        class="custom-select"
        required
        name="topic"
        [(ngModel)]="registerModel.topic"
        #topic="ngModel"
      >
        <option *ngFor="let topic of topics">
          {{ topic }}
        </option>
      </select>
      <div *ngIf="topic.errors && topic.touched">
        <small class="text-danger" *ngIf="topic.errors['required']"
          >Please select option</small
        >
      </div>
    </div>

    <input
      type="submit"
      class="btn btn-primary"
      value="Submit Form"
      [disabled]="
        registerForm.form.invalid || password.value != confirmpassword.value
      "
    />
  </form>
</div> -->
<!-- -------------------- -->
<!-- Reactive Form -->
<div class=“container-fluid”>
  <form [formGroup]="registrationForm">
    <div class="form-group" > 
      <label>Name :</label>
      <input [class.is-invalid]="Name?.invalid && Name?.touched" type="text" class="form-control" formControlName="name">
      <div *ngIf="Name?.invalid && Name?.touched">
        <small class="text-danger" *ngIf="Name?.errors?.['required']">Name is Required</small>
        <small class="text-danger" *ngIf="Name?.errors?.['minlength']">Name must be at least 3 characters</small>
        <small class="text-danger" *ngIf="Name?.errors?.['forbiddenName']">{{Name?.errors?.['forbiddenName'].value}} is not allowed</small>
      </div>
    </div>
    <div class="form-group" > 
      <label>Email :</label>
      <input [class.is-invalid]="email?.invalid && email?.touched" type="email" class="form-control" formControlName="email">
      <div [class.d-none]="email?.valid || email?.untouched">
        <small class="text-danger" *ngIf="email?.errors?.['required']" >Email is required</small>
      </div>
    </div>
    <div class="form-group" > 
      <label>Password :</label>
      <input  [class.is-invalid]="password?.invalid && password?.touched" type="password" class="form-control" formControlName="password">
      <div [class.d-none]="password?.valid || password?.untouched">
        <small class="text-danger" *ngIf="password?.errors?.['required']" >Password is required</small>
      </div>
    </div>
    <div class="form-group"> 
      <label>Confirm Password :</label>
      <input  type="password" class="form-control"  formControlName="confirmpassword">
      <small class="text-danger" *ngIf="registrationForm?.errors?.['misMatch']">password and confirm aren't matched</small>
    </div>
    <div class="form-group">
       <select  class="custom-select" formControlName="topics">
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
        <div *ngIf="topic?.invalid && topic?.touched" >
          <small class="text-danger" *ngIf="topic?.errors?.['required']" >selection is required</small>
        </div>
      </div>
      <div class="form-group">
        <label>Number of discount</label>
        <input  type="text" formControlName="number" class="form-control" [class.invalid]="number?.invalid && number?.touched">
    </div>
    <small class="text-danger" *ngIf="number?.errors?.['required']">write discount value in percent</small>
  
      <div class="form-check mb-3">
        <input (click)="setNumberValidation()" type="checkbox" formControlName="subscribe" class="form-check-input"  >
        <label  class="form-check-label">Does this product containd discount </label>
    </div>
  <br><br>
    <div formArrayName="alternativeComment" *ngFor="let ecomment of alternativeComment?.controls; let i=index">
      <label>{{" Alternative comment #"}} {{i+1}}</label>
      <input type="text" [formControlName]="i" class="form-control">
    </div>
  <br>
  
    <button class="btn btn-success" (click)="addAlternativeComment()">Add alternative Comment</button>
    <br><br>
      <input type="submit" class="btn btn-primary" value="Submit Form" >
  </form>
</div>
